* {
    box-sizing: border-box;
}
body {
    margin: 10px;
    padding: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #705cff;
    width: 100%;
    min-height: 40vh;
}
.autocomplete {
    position: relative;
    display: inline-block;
    width: 30%;
}
input {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}

input[type="text"] {
    background-color: #f2f8fe;
    width: 100%;
}

.search-block {
    position: absolute;
    max-width: 30%;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(228, 237, 244, 0.8);
    border: 1px solid #D5E3EC;
    max-height: 500px;
    overflow: auto;
}

.btn {

    padding: 10px;
    background-color: #2f2f2f;
    color: white;
    margin-bottom: 3px;

}

.btn:hover {

    color: #705cff ;
}



